.profile-image {
  width: 85%;
  height: 85%;
  margin: 25px;
}

.panel-body {
  padding: 0 25px;
}

.panel-footer {
  padding: 10px 25px;
  background-color: white;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
